body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin: auto;
  min-width: 600px;
  max-width: 2000px;
}

#top {
  background-color: #65c4e2;
  width: auto;
  height: auto;
  padding: 10px;
  border: #65c4e2;
  z-index: 1;
}

h1, h2 {
  text-align: center;
  color: white;
}

h1 {
  font-size: 100px;
  margin: 0px;
  margin-top: 10px;
}

img {
  height: 110px;
  width: 110px;
}

#img_2 {
  width: 100px;
}

#steps {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px solid white;
}

#p_steps, #p_step_description {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  min-width: 600px;
  max-width: 2000px;
  background-color: #65c4e2;
  border: #65c4e2;
  padding-top: 10px;
}

footer h1 {
  border-top: 1px solid white;
}

#comments {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  width: auto;
}

#comment1, #comment2 {
  width: auto;
}

#comment1 img, #comment2 img {
  height: 60px;
  width: auto;
  margin-left: 350px;
}

#step_3 {
  width: 289px;
}
